@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DynaPuff:wght@400..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DynaPuff", system-ui;
}

/* Hero */
.hero__container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero__container::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.hero__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__text{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.logo{
    width: 250px;
    margin-bottom: 20px;
}

.hero__text h2{
    font-size: 2.5rem;
    color: #e8b59e;
}